<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="reCAPTCHASiteKey" value="6LckVj0UAAAAAMySMvM8d1DXaeYN1w6rXV6DUXEs" />
    <add key="reCAPTCHASecretKey" value="6LckVj0UAAAAABKEMD5lz7IuuL72Jk8bpSYSbaW4" />
    <add key="ETHfee" value="0.005" />
    <add key="fee" value="0.003" />
    <add key="conversionValue" value="0.00033" />
    <add key="mailPath" value="https://www.ziddu.com/" />
    <add key="emailAddress" value="admin@ziddu.com" />
    <add key="emailPwd" value="Ziddu$Ad*min@2477" />
	<add key="pharse" value="ZidduIsTheOnlyMarketplaceForDecentralizedSmartContracts" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=31.3.223.100;port=3306;database=ethereumtetstdb;user id=ethereumTetstus;password=Stamp@098@123;pooling=false;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlZidduConnection" connectionString="server=mmnewsql.mysql.database.azure.com;port=3306;database=ziddunew;user id=newuserziddu@mmnewsql;password=madhubabu@123;pooling=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
   <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
      <system.webServer>
<rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny">
          <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>